<a href="https://colab.research.google.com/github/Sankeetha-Elancheliyan/End-to-End-Data-Engineering-Project/blob/main/AWS_COVID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install boto3
# !pip install redshift_connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.113-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 10.5 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.113
  Downloading botocore-1.29.113-py3-none-any.whl (10.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.6/10.6 MB 95.3 MB/s eta 0:00:00
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 kB 8.5 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.113->boto3) (1.26.15)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.113->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.113->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.113 botocore-1.29.113 jmespath-1.0.1 s3transfer-0.6.0

In [ ]:
# import redshift_connector
import boto3
import time
import pandas as pd
from io import StringIO
import csv
import json

In [ ]:
# connect to aws and s3
AWS_ACCESS_KEY = "AKIA53EJOAWNJY63QFRX"
AWS_SECRET_KEY = "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"
AWS_REGION = "eu-north-1"
SCHEMA_NAME = "covid_19"
S3_STAGING_DIR = "s3://sankee-test-bucket/output/"
S3_BUCKET_NAME = "sankee-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [ ]:
# connect to athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [ ]:
# Basically this function do is to takes the boto3 object,
# run some queries on athena and store the output in s3

Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.1)
            else:
                raise err
    temp_file_location: str = "athena_query_result.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,

    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'de09cc52-b036-45fe-9876-73d8610e909a',
 'ResponseMetadata': {'RequestId': '7e244d0a-d0cb-4036-b904-83292e261e0a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 11:20:57 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '7e244d0a-d0cb-4036-b904-83292e261e0a'},
  'RetryAttempts': 0}}

In [ ]:
enigma_jhud=download_and_load_query_results(athena_client, response)

In [ ]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usaus_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'cf70b9f3-6d46-4ba3-b5c7-be27d5ee6570',
 'ResponseMetadata': {'RequestId': '18dad4f2-3789-436f-9428-2435a45fca6e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:47:58 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '18dad4f2-3789-436f-9428-2435a45fca6e'},
  'RetryAttempts': 0}}

In [ ]:
nytimes_data_in_usaus_county = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usaus_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'c8dc3d0d-55c1-469f-a094-e7be6e01a3cb',
 'ResponseMetadata': {'RequestId': '61070b15-76a3-423a-a606-dadf224fdc21',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:48:07 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '61070b15-76a3-423a-a606-dadf224fdc21'},
  'RetryAttempts': 0}}

In [ ]:
nytimes_data_in_usaus_states = download_and_load_query_results(
    athena_client, response)

In [ ]:
nytimes_data_in_usaus_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_dataus_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '756f93b6-7110-4b89-923e-9c71c1a8ca79',
 'ResponseMetadata': {'RequestId': '794fa18a-5bff-4925-9feb-322818da7c3e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:48:20 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '794fa18a-5bff-4925-9feb-322818da7c3e'},
  'RetryAttempts': 0}}

In [ ]:
rearc_covid_19_testing_dataus_daily = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_datastates_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '90fadc19-031a-4332-b870-bbdef4fe11b4',
 'ResponseMetadata': {'RequestId': 'a46f4ab6-d051-4034-89b0-b6df7afea45c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:48:30 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'a46f4ab6-d051-4034-89b0-b6df7afea45c'},
  'RetryAttempts': 0}}

In [ ]:
rearc_covid_19_testing_datastates_daily = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_dataus_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '19197fd5-ad1d-4fbe-bae6-40ccbb8097fc',
 'ResponseMetadata': {'RequestId': '241a3925-d172-4270-a812-b88aeeeb1883',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:48:40 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '241a3925-d172-4270-a812-b88aeeeb1883'},
  'RetryAttempts': 0}}

In [ ]:
rearc_covid_19_testing_dataus_total_latest = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasetscountrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '843c941a-d4ed-4588-a632-ba350471f0f8',
 'ResponseMetadata': {'RequestId': 'b4707dc1-0575-494c-b940-d08f49a4767d',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:49:02 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b4707dc1-0575-494c-b940-d08f49a4767d'},
  'RetryAttempts': 0}}

In [ ]:
static_datasetscountrycode = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasetsstate_abv ",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '105420dc-f1e7-4780-a542-b897fb70d479',
 'ResponseMetadata': {'RequestId': '1c61a906-7949-4c05-99f7-738f725298f8',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:49:11 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '1c61a906-7949-4c05-99f7-738f725298f8'},
  'RetryAttempts': 0}}

In [ ]:
static_datasetsstate_abv = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasetscountypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'f61f74aa-5e05-4466-ad6f-65073e355cb6',
 'ResponseMetadata': {'RequestId': 'c4e11318-6e5b-4f4c-bde8-5d132b9c4956',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:49:19 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'c4e11318-6e5b-4f4c-bde8-5d132b9c4956'},
  'RetryAttempts': 0}}

In [ ]:
static_datasetscountypopulation=download_and_load_query_results(
    athena_client, response)

In [ ]:
# # grab the first role of the ender
# new_header = static_datasets_state_abv.iloc[0]

In [ ]:
# # takes the data below the data header row
# static_datasets_state_abv = static_datasets_state_abv[:1]

In [ ]:
# # Set the header row as the df header.
# static_datasets_state_abv.column = new_header

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds_csv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'fb718864-ba4f-4ca7-ac92-b6878ab2aece',
 'ResponseMetadata': {'RequestId': '630e8beb-b470-4e46-a4b7-78892d2e39e9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 12 Apr 2023 10:49:49 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '630e8beb-b470-4e46-a4b7-78892d2e39e9'},
  'RetryAttempts': 0}}

In [ ]:
rearc_usa_hospital_beds_csv = download_and_load_query_results(athena_client, response)

In [ ]:
factCovid_1 = enigma_jhud[['fips', 'province_state',
                           'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = rearc_covid_19_testing_datastates_daily[[
    'fips', 'date', 'positive', 'negative', 'hospitalized', 'hospitalizedcurrently', 'hospitalizeddischarged']]

factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [ ]:
factCovid.shape

(27992, 13)

In [ ]:
dimRegion_1 = enigma_jhud[['fips', 'province_state',
                           'country_region', 'latitude', 'longitude']]
dimRegion_2 = nytimes_data_in_usaus_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')


dimHospital = rearc_usa_hospital_beds_csv[['fips', 'state_name', 'latitude', 'longtitude',
                                 'hq_address', 'hospital_name', 'hospital_type', 'hq_city', 'hq_state']]
dimDate = rearc_covid_19_testing_datastates_daily[['fips', 'date']]

In [ ]:
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [ ]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

dimDate.head()

<ipython-input-184-a0e79f9d826f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [ ]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

dimDate.head()

<ipython-input-185-52a6728b7e6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
<ipython-input-185-52a6728b7e6c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
<ipython-input-185-52a6728b7e6c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [ ]:
bucket = 'covid-de-cw-p'  # already created on s3

In [ ]:
# Store the dimentional model data into s3
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())


csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

csv_buffer = StringIO()
dimHospital.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

csv_buffer = StringIO()
dimDate.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimDate.csv').put(Body=csv_buffer.getvalue())

In [ ]:
# Extract the schema
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalized" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalizeddischarged" REAL
)
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
CREATE TABLE "dimHospital" (
"index" TEXT,
  "fips" TEXT,
  "state_name" TEXT,
  "latitude" TEXT,
  "longtitude" TEXT,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [ ]:
!pip install redshift_connector

In [ ]:
import redshift_connector

# Set your Redshift cluster endpoint and credentials
conn = redshift_connector.connect(
    host='redshift-cluster-1.cr1c3q6qdqkx.eu-north-1.redshift.amazonaws.com',
    port=5439,
    database='dev',
    user='awsuser',
    password='AsdF1$<>'
)

InterfaceError: ignored